:root {
    --color-primary: #4d5ae5;
    --color-pressed: #404bbf;
    --color-dark: #2e2f42;
    --color-success: #31d0aa;
    --color-text: #434455;
    --color-light: #f4f4fd;
    --color-white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text);
    background-color: var(--color-white);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* section padding */
.solutions,
.team,
.portfolio {
    padding: 120px 0;
}


/* h2 styles */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark);
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* h3 styles */
.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    margin-bottom: 8px;
}

/* p styles */
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
}

/* p max-width */
.description-limited {
    max-width: 264px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* #region Social-Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.social-link {
    width: 40px;
    height: 40px;
}

.social-icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
}

.social-icon:first-child {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
    background-color: var(--color-pressed);
}

.fill,
.fill use {
    fill: var(--color-light);
}



/* #endregion */



/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5;
}

.logo-dark {
    color: var(--color-dark);
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header-padding {
    display: block;
    padding: 24px 0;
}

.nav-link {
    color: var(--color-dark);
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list li:first-child .nav-link {
    position: relative;
    color: var(--color-pressed);
}

.nav-list li:first-child .nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--color-pressed);
    border-radius: 2px;
}


.address {
    font-style: normal;
    display: flex;
    align-items: center;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: var(--color-text);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.address-link:hover {
    color: var(--color-pressed);
}

.nav-link:focus,
.address-link:focus {
    color: var(--color-pressed);
}

/* #endregion */


/* #region Hero */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-dark);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    margin-bottom: 48px;
}

.hero .btn {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    color: var(--color-white);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--color-pressed);
}

/* #endregion */


/* #region Solutions */
.solutions-list {
    display: flex;
    gap: 24px;
}

.solutions-item {
    width: calc((100% - 72px) / 4);
}

.icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-light);
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

svg use {
    fill: black;
}

/* #endregion */


/* #region Our Team */
.team {
    background-color: var(--color-light);
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-card {
    background-color: var(--color-white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
    padding: 32px 0;
}

.text-align {
    text-align: center;
}

.margin-bottom-small {
    margin-bottom: 8px;
}

/* #endregion */


/* #region Our Portfolio */
.portfolio-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
}



.portfolio-card:first-child {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
    position: relative;
    overflow: hidden;
}

.card-container:hover .description {
    transform: translateY(0%);
}

.card-container .description {
    position: absolute;
    top: 0;
    color: var(--color-light);
    padding: 40px 32px;
    background-color: var(--color-primary);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* #endregion */


/* #region Footer */

.footer {
    background-color: var(--color-dark);
    padding: 100px 0;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.message {
    margin-right: 120px;
}

.social-media .description {
    font-weight: 500;
    color: var(--color-white);
}

.social-links-footer {
    gap: 16px;
}

.social-links-footer .social-icon:hover,
.social-links-footer .social-icon:focus {
    background-color: var(--color-success);
}

.light {
    color: var(--color-light);
}

.margin-bottom-medium {
    display: inline-block;
    margin-bottom: 16px;
}

/* #endregion */

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background: green;
    width: 408px;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border-radius: 50%;
    color: var(--color-dark);
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    margin: 24px;
    border: 1px solid #8e8f99;
}

.label {
    display: flex;
    flex-direction: column;
    color: #8e8f99;
}

.input {
    position: relative;
    background-repeat: no-repeat;
    background-position: 19px;
    background-size: 16px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 14px 0;
}

.user-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%206C7.6575%206%209%204.6575%209%203C9%201.3425%207.6575%200%206%200C4.3425%200%203%201.3425%203%203C3%204.6575%204.3425%206%206%206ZM6%207.5C3.9975%207.5%200%208.505%200%2010.5V11.25C0%2011.6625%200.3375%2012%200.75%2012H11.25C11.6625%2012%2012%2011.6625%2012%2011.25V10.5C12%208.505%208.0025%207.5%206%207.5Z%22%20fill%3D%22%232E2F42%22%20%2F%3E%3C%2Fsvg%3E');
}

.tel-icon {
    background-image: url();
}

.mail-icon {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2212%22%20viewBox%3D%220%200%2016%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14%200H2C1.175%200%200.5075%200%200.5075%201.5L0.5%2010.5C0.5%2011.325%201.175%2012%202%2012H14C14.825%2012%2015.5%2011.325%2015.5%2010.5V1.5C15.5%200.675%2014.825%200%2014%200ZM13.7%203.1875L8.3975%206.5025C8.1575%206.6525%207.8425%206.6525%207.6025%206.5025L2.3%203.1875C2.1125%203.0675%202%202.865%202%202.6475C2%202.145%202.5475%201.845%202.975%202.1075L8%205.25L13.025%202.1075C13.4525%201.845%2014%202.145%2014%202.6475C14%202.865%2013.8875%203.0675%2013.7%203.1875Z%22%20fill%3D%22%232E2F42%22%20%2F%3E%3C%2Fsvg%3E');
}


